body { 
    font: 10px sans-serif; 
} 
.axis text {
    font: 10px sans-serif;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.container {

}
#yearWaterVis{
    position: relative;
    left: 0px;
    top: 20px;
}
#monthWaterVis{
    position: relative;
    left: 0px;
    top: 50px;
}
#waterVis{
    position: relative;
    margin-left: 750px;
    margin-top: 10px;
}
#bayVis{
    position: relative;
    margin-left: 450px;
    margin-top: -540px;
}
#oysterVis{
    position: relative;
    margin-left: 750px;
    margin-top: -670px;
}
#selectLevel{
    position: relative;
    margin-left: 850px;
    margin-top: 0px;
}
#sources{
    position: relative;
    margin-left: 0px;
    margin-top: 0px;
}
#cr{
    position: relative;
    margin-left: 585px;
    margin-top: 0px;
}
.line, 
.wbottom, 
.wsurface {
  fill: none;
  stroke: blue;
  stroke-width: 1.5px;
}
.clickedStation {
    opacity: 1;
}
.hoverStation {
    fill: red;
    opacity: 1;
}
.clickedYear {
    fill: red;
}
.hoverYear {
    fill: lightblue;
}
a:link {
    color: blue;
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: underline;
}
rect.pane {
  cursor: move;
  fill: none;
  pointer-events: all;
}
div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 125px;                  
  height: 50px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;  
  pointer-events: none;         
       
}
button {
    background-color: transparent;
}
div.oystertip {   
  position: absolute;           
  text-align: left;           
  width: 400px;                  
  height: 400px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;           
  overflow-y: auto; 
  left: 300;
  top: 0;   
  pointer-events: all;
}
div.loading {   
  position: absolute;  
  left: 400px;
  top: 150px;         
  text-align: center;           
  width: 125px;                  
  height: 50px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  border: 0px;      
  border-radius: 8px;  
  pointer-events: none;
}